@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
$mainColor: #1388e7;
$secondColor: #e1f2ff;

html {
  scroll-behavior: smooth;
}

input,
select,
textarea {
  &:focus {
    outline: 0 !important;
  }
}

body {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
  width: 100%;
}

#floating {
  position: fixed;
  z-index: 1;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  bottom: 15px;
  right: 20px;
  cursor: pointer;
  background-color: $mainColor;
  opacity: 0;
  transition: all 0.5s;
  i {
    color: #fff;
  }
}

// navbar
.upper-nav {
  width: 95%;
  margin: auto;
  position: relative;
  // height: 84px;
}
.navbar {
  position: absolute;
  width: 100%;
  background-color: #fff;
  border-radius: 11px;
  margin-top: 20px;
  .navbar-brand {
    img {
      // max-height: auto;
      width: 70px;
    }
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        color: #000;
        margin-right: 50px;
        font-size: 16px;
        width: 100%;
        text-align: center;
        transition: all 0.5s ease-in-out;
        &:hover {
          color: #000;
        }
      }
    }
    .active {
      .nav-link {
        color: $mainColor;
      }
    }
  }
}

.header {
  background-position: center;
  background-size: cover;
  padding-top: 230px;
  padding-bottom: 230px;
  .mobile-header-img {
    display: none;
  }
  .header-content {
    h5 {
      font-size: 51px;
      // font-weight: bold;
      line-height: 65px;
      text-transform: capitalize;
      color: #fff;
    }
  }
}

.main-content {
  margin-top: 95px;
  .serv-header{
    font-size: 30px;
    text-align: center;
    color: #b6b6b6;
    margin-bottom: 40px;
    letter-spacing: 5px;
  }
  form {
    .checkbox-btn {
      display: none;
    }
    label{
      display: block;
    }
    .card {
      text-align: left;
      padding: 20px;
      cursor: pointer;
      height: 390px;
      transition: box-shadow 0.4s ease;
      border-radius: 9px;
      margin-bottom: 20px;
      .card-img {
        border-radius: 5px;
        height: 200px;
        background-size: cover;
        background-position: center;
      }
      .card-title {
        font-size: 20px;
        margin-top: 19px;
        color: $mainColor;
        height: 50px;
      }
      .card-text {
        font-size: 16px;
        color: #626262;
      }
      .cheack-mark {
        span {
          width: 22px;
          height: 22px;
          border: 1px solid $mainColor;
          border-radius: 50%;
          margin: auto;
          display: inline-block;
          transition: all 0.5s ease;
        }
      }
      .cheack-mark-2 {
        i {
          font-size: 22px;
          color: $mainColor;
          display: none;
          transition: all 0.5s ease;
        }
      }
    }
    input[type="checkbox"]:checked ~ .card {
      border: 2px solid $mainColor !important;
      box-shadow: 0 3px 24px rgba(54, 0, 126, 27%);
    }
    input[type="checkbox"]:checked ~ .card .cheack-mark {
      display: none;
    }
    input[type="checkbox"]:checked ~ .card .cheack-mark-2 i {
      display: block;
    }
    .btn-submit{
      text-align: center;
      margin-top: 40px;
      .btn{
        background-color: $mainColor;
        color: #fff;
        padding: 10px;
        width: 250px;
        &:hover{
          background-color: #fff;
          color: $mainColor;
          border: 1px solid $mainColor;
        }
      }
    }
  }
}

.about-us-content{
  .about-us-page-header{
    // font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
  }
  margin-top: 40px;
  .pargraph-content{
    font-size: 15px;
    color: #303030;
    line-height: 28px;
    span{
      font-weight: bold;
      font-size: 18px;
      color: #000;
    }
    .header-of-par{
      display: block;
    }
  }
}

.contact-us-page {
  .contact-us-form-parent {
    .contact-info {
      margin-bottom: 50px;
      i {
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background-color: $mainColor;
        color: #fff;
        border-radius: 5px;
      }
      ul{
        padding-left: 30px;
        li{
          margin-bottom: 5px;
        }
      }
    }
  }
}

#bookingModal{
  .form-group{
    input{
      margin-top: 5px;
    }
    label{
      margin-bottom: 0;
    }
    h6{
      color: #777777;
      font-size: 13px;
      margin: 0;
    }
  }
}

#bookingDone{
  .modal-body{
    text-align: center;
    i{
      color: green;
      font-size: 50px;
    }
    h5{
      margin-top: 30px;
      margin-bottom: 50px;
      color: #626262;
    }
  }
}

footer {
  background-color: #161415;
  margin-top: 130px;
  padding-top: 73px;
  padding-bottom: 24px;
  text-align: center;
  .social {
    a {
      display: inline-block;
      width: 29px;
      height: 29px;
      border-radius: 6px;
      background-color: #2d2b2c;
      line-height: 29px;
      text-align: center;
      // margin-right: 20px;
      margin: 10px;
      i {
        color: #fff;
      }
    }
  }
  .copy {
    margin-top: 40px;
    h5 {
      margin: 0;
      color: #878787;
      font-size: 12px;
      a {
        color: $mainColor;
      }
    }
  }
}
